/* top bar part start here  */
.top_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.time_icon{    
    display: flex;            
    justify-content: center;            
    align-items: center;
}
.time_icon span{        
    font-size: 12px;                
    font-weight: 400;                
    margin-top: 3px;
}
.net_battery{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wifi{

}
.wifi_main img{
    width: 12px;
}
.clock_black{
    display: block;
}
.clock_black{
    display: block;
}
.wifi_main i{
        
    font-size: 12px;
        
    margin-left: 4px;
        }
.wifi_signal{

}
.wifi_signal i{

}
.signal_bars{

}
.signal_main{

}
.signal_main i{

    font-size: 12px;
        
    margin-left: 3px;
}
.signal_main i span{

}
.signal_signal{

}
.signal_signal i{

}
.battery_main{

display: flex;

justify-content: center;

align-items: center;
}
.battery_main i{

font-size: 17px;

margin-left: 5px;

position: relative;

margin-top: 6px;
}
.battery_main i span{

position: absolute;

left: 3px;

top: 33%;

background: #000000ab;

height: 29%;

width: 60%;
}
/* topbar part end here  */













*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

/* top title and back button  */
.title_back{

margin-top: 10px;
}
.arrow_back{

color: #000;
}
.arrow_back a{

}
.arrow_back a i{

color: #00000075;
}
.title{

}
.title h4{    
    font-size: 14px;            
    margin: 0px;            
    margin-top: 5px;
}
.download_btn{
}
.download_btn a{
    position: relative;
    border-top: 2px solid #00000063;
    border-bottom: 2px solid #00000063;
}
.download_btn a::after{
    content: '';
    position: absolute;
    border-left: 2px solid #00000063;
    border-right: 2px solid #00000063;
    height: 24%;
    width: 100%;
    left: 0px;
    bottom: 0px;
}
.download_btn a::before{
    content: '';
    position: absolute;
    border-left: 2px solid #00000063;
    border-right: 2px solid #00000063;
    height: 45%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.download_btn a i{        
    padding: 7px 4px;        
    color: #00000063;        
    font-size: 12px;
}
/* top title and back button end  */

/* status part start here  */
.status{

margin: 20px 0px;
}
.status h4{    
    font-size: 12px;            
    text-transform: capitalize;            
    font-weight: 400;            
    color: #0009;
}
.status h1{    
    text-transform: uppercase;            
    font-size: 20px;
}
.status h3{
            
    font-size: 13px;
            
    margin: 10px 0px;
            
    color: #47aa88;
}
.status h3 i{

}
.status h1 span{

font-size: 14px;
}
.status p{

font-weight: 400;

font-size: 11px;

color: #a2a2a0;

margin: 0px;

margin-top: 10px;
}
.status a{

text-decoration: none;

font-size: 12px;

color: #cca823;
}

/* status part end here  */

/* details part start here  */
.details{

background: #f5f5f5;

padding: 10px 0px;
}
.details ul{

padding: 0px;
}
.btn_address{
    
padding: 0;
    
margin: 0;
    
color: #efb83b !important;
    
text-transform: capitalize;
    
font-size: 12px;
}
.btn_address:active{
    border: none;
}
.details ul li{

display: flex;

list-style: none;

justify-content: space-between;

margin: 10px 0px;

align-items: center;
}
.details ul li h4{

font-size: 12px;

font-weight: 400;

color: #0000008a;
}
.details ul li h3{

margin-right: auto;

font-size: 10px;

text-align: right;

margin-right: auto;

margin-left: 20px;

/* display: flex; */

/* justify-content: end; */
}
.details ul li h3 button{

}
.btn_copy{
    
padding: 0px;
    
border: none;
    
margin-left: 5px;
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
color: #0000007d;
}
.btn_copy i{

}

.details ul li h3 span{

}
.btn:focus{
    outline: none;
    box-shadow: none;
}
/* details part end here  */


/* sheild part start here  */
.wTow{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px #00000038;
    margin-top: 20px;
}
.wTow img{

}
.wTow p{
    font-size: 10px;
    margin: 0;
}
.wTow a{
    
}
.wTow a i{

color: #000;
}
/* sheild part end here  */

   /* help part start here  */
   .help{
    
    margin: 20px 0px;
    
    text-align: center;
    }
    .help a{
    
font-size: 14px;
    
text-decoration: none;
    
font-weight: 400;
    
color: #f6c531;
    }
    .help a i{
    
    margin-right: 10px;
    
    color: #00000091;
    }
    /* help part end here  */

    .bt_light{
        display: none;
        width: 12px;
    }
    .bt_dark{
        display: block;
        width: 12px;
    }
    .Withdraw_part{
        width: 425px;
        margin: auto;
        /* border: 1px solid #fff; */
        border-radius: 20px;
        padding: 20px;
        margin-top: 20px;
    }


    
/* form part start here  */
.dark_preview .form_part{
    margin-top: 68px;
}
.dark_preview .form_part .card{
    background: transparent;
    border: 1px solid #999393ad;
    padding: 10px;
    height: 100%;
}
.dark_preview .form_part .card-body{

}
.dark_preview .card-body form{

}
.dark_preview .card-body form label{

color: #fff;

margin-top: 10px;
}
.dark_preview .card-header{

border-bottom: 1px solid #ccc8c8;

background: transparent;
}
.dark_preview .card-header h5{color: #fff;}
.dark_preview .card-body form input{

border-radius: 0;

background: transparent;

color: #fff;
}
.dark_preview .card-body form input::placeholder{
color: #a2a0a047;
}
.dark_preview .card-body form input:focus{background: transparent;color: #fff;outline: none;box-shadow: none;border: 1px solid #00000054;}
.dark_preview  .card-body form select{

background: transparent;

color: #fff;

border-radius: 0;
}
.dark_preview  .card-body select option{background-color: #1f263042;border-radius: 0;}
.dark_preview  .card-body form select::placeholder{
background-color: transparent;
color: #fff;
}
.dark_preview  .card-body form select:focus{
    box-shadow: none;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}
    /* form part end here  */
    

    /* responsive buttons  */
    
.responsive_btns{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #15151530;
    padding-bottom: 10px;
  }
  .responsive_btns button{
    border: 1px solid #000;
    margin: 0px 5px;
    background: #6c757d;
    border-radius: 15px;
    padding: 0px 5px;
    color: #fff;
    border: none;
    box-shadow: 2px 3px 8px 3px #54505066;
    transition: .4s all ease-in-out;
  }
  .responsive_btns button:hover{
    background: #4e5458;
  }
  .btn_screenshort{
    box-shadow: 2px 3px 8px 3px #54505066;
    margin: 0px 5px;
  }


    /* switch button here  */
    
    .mode_switcher{
    
    position: fixed;
    
    top: 5px;
    
    right: 20px;
    }
    .mode_switcher .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    }
    
    .mode_switcher  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .mode_switcher .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
    margin: 0px;
    }
    
    .mode_switcher .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
    }
    
    .mode_switcher .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
    }
    
    .mode_switcher .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
    }
    
    /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
    }
    
    @keyframes rotate {
    
    0% {
      transform: rotate(0);
    }
    
    100% {
      transform: rotate(360deg);
    }
    }
    
    /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
    }
    
    @keyframes tilt {
    
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(-10deg);
    }
    
    75% {
      transform: rotate(10deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
    }
    
    .mode_switcher  .input:checked + .slider {
    background-color: #183153;
    }
    
    .mode_switcher .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
    }
    
    .mode_switcher .input:checked + .slider:before {
    transform: translateX(30px);
    }
    
    
    

    /* =================================== Dark style ========================================= */
    
*{
    margin: 0;
    padding: 0;
}


.dark_preview{
    font-family: 'Roboto', sans-serif;
    background: #1f2630;
}

.dark_preview::-webkit-scrollbar{
    display: none;
}
/* top bar part start here  */
.dark_preview .top_bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark_preview .time_icon{    
    display: flex;            
    justify-content: center;            
    align-items: center;
}
.dark_preview .time_icon span{
    font-size: 12px;
    font-weight: 400;
    margin-top: 3px;
    color: #fff;
}
.dark_preview .net_battery{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark_preview .wifi{

color: #ffffffc9;
}
.dark_preview .wifi_main img{
    width: 12px;
}
.dark_preview .clock_black{
    display: none;
}
.dark_preview .clock_white{
    display: block;
}
.dark_preview .wifi_main i{
        
    font-size: 12px;
        
    margin-left: 4px;
        }
.dark_preview .wifi_signal{

}
.dark_preview .wifi_signal i{

}
.dark_preview .signal_bars{

}
.dark_preview .signal_main{

}
.dark_preview .signal_main i{

font-size: 12px;

margin-left: 3px;

color: #ffffffc7;
}
.dark_preview .signal_main i span{

}
.dark_preview .signal_signal{

}
.dark_preview .signal_signal i{

}
.dark_preview .battery_main{

display: flex;

justify-content: center;

align-items: center;
}
.dark_preview .battery_main i{

font-size: 17px;

margin-left: 5px;

position: relative;

margin-top: 6px;

color: #fff;
}
.dark_preview .battery_main i span{

position: absolute;

left: 3px;

top: 33%;

background: #ffffff7a;

height: 29%;

width: 60%;
}
/* topbar part end here  */

/* top title and back button  */
.dark_preview .title_back{

margin-top: 10px;
}
.dark_preview .arrow_back{
}
.dark_preview .arrow_back a{

}
.dark_preview .arrow_back a i{

color: #ffffff85;
}
.dark_preview .title{

}
.dark_preview .title h4{
    font-size: 14px;
    margin: 0px;
    margin-top: 5px;
    color: #fff;
}
.dark_preview .download_btn{
}
.dark_preview .download_btn a{
    position: relative;
    border-top: 2px solid #ffffff7d;
    border-bottom: 2px solid #ffffff85;
}
.dark_preview .download_btn a::after{
    content: '';
    position: absolute;
    border-left: 2px solid #ffffff80;
    border-right: 2px solid #ffffff75;
    height: 24%;
    width: 100%;
    left: 0px;
    bottom: 0px;
}
.dark_preview .download_btn a::before{
    content: '';
    position: absolute;
    border-left: 2px solid #ffffff7a;
    border-right: 2px solid #ffffff75;
    height: 45%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.dark_preview .download_btn a i{
    padding: 7px 4px;
    color: #ffffff9e;
    font-size: 12px;
}
/* top title and back button end  */

/* status part start here  */
.dark_preview .status{

margin: 20px 0px;
}
.dark_preview .status h4{
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 400;
    color: #fff9;
}
.dark_preview .status h1{
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
}
.dark_preview .status h3{
            
    font-size: 13px;
            
    margin: 10px 0px;
            
    color: #47aa88;
}
.dark_preview .status h3 i{

}
.dark_preview .status h1 span{

font-size: 14px;
}
.dark_preview .status p{

font-weight: 400;

font-size: 11px;

color: #a2a2a0;

margin: 0px;

margin-top: 10px;
}
.dark_preview .status a{

text-decoration: none;

font-size: 12px;

color: #cca823;
}

/* status part end here  */

/* details part start here  */
.dark_preview .details{

background: #1f2630;

padding: 10px 0px;

border-top: 1px solid #adb4bf1a;
}
.dark_preview .details ul{

padding: 0px;
}
.dark_preview .btn_address{
    
padding: 0;
    
margin: 0;
    
color: #efb83b !important;
    
text-transform: capitalize;
    
font-size: 12px;
}
.dark_preview .btn_address:active{
    border: none;
}
.dark_preview .details ul li{

display: flex;

list-style: none;

justify-content: space-between;

margin: 10px 0px;

align-items: center;
}
.dark_preview .details ul li h4{

font-size: 12px;

font-weight: 400;

color: #ffffff8a;
}
.dark_preview .details ul li h3{

margin-right: auto;

font-size: 10px;

text-align: right;

margin-right: auto;

margin-left: 20px;

/* display: flex; */

/* justify-content: end; */

color: #ffffffb5;
}
.dark_preview .details ul li h3 button{

}
.dark_preview .btn_copy{
    
padding: 0px;
    
border: none;
    
margin-left: 5px;
    
display: flex;
    
justify-content: center;
    
align-items: center;
    
color: #0000007d;
}
.dark_preview .btn_copy i{

color: #ffffff91;
}

.dark_preview .details ul li h3 span{

}
.dark_preview .btn:focus{
    outline: none;
    box-shadow: none;
}
/* details part end here  */


/* sheild part start here  */
.dark_preview .wTow{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 3px #00000038;
    margin-top: 20px;
}
.dark_preview .wTow img{

}
.dark_preview .wTow p{
    font-size: 10px;
    margin: 0;
    color: #ffffff8c;
}
.dark_preview .wTow a{
    
}
.dark_preview .wTow a i{

color: #ffffff8a;
}
/* sheild part end here  */

   /* help part start here  */
   .dark_preview .help{
    
    margin: 20px 0px;
    
    text-align: center;
    }
    .dark_preview .help a{
    
font-size: 14px;
    
text-decoration: none;
    
font-weight: 400;
    
color: #f6c531;
}
.dark_preview .help a i{

margin-right: 10px;

color: #00000091;
}
/* help part end here  */
.dark_preview .bt_light{
    display: block;
    width: 12px;
}
.dark_preview .bt_dark{
    display: none;
    width: 12px;
}
.dark_preview .Withdraw_part{
    width: 425px;
    margin: auto;
    border: none;
    border-radius: 0px;
    padding: 20px;
    /* margin-top: 20px; */
    background: #1f2630;
}



    
/* form part start here  */

 .form_part{
    margin-top: 68px;
    }
.form_part .card{
    
    background: transparent;
    
    border: 1px solid #999393ad;
    
    padding: 10px;
    
    height: 100%;
}
 .form_part .card-body{
    
    }
 .card-body form{
    
    }
 .card-body form label{
    
    color: #000;
    
    margin-top: 10px;
    }
 .card-header{
    
    border-bottom: 1px solid #ccc8c8;
    
    background: transparent;
    }
.card-header h5{
    color: #000;
    }
.card-body form input{
    
    border-radius: 0;
    
    background: transparent;
    
    color: #000;
    }
.card-body form input::placeholder{
    color: #a2a0a047;
}
.card-body form input:focus{
    background: transparent;
    color: #000;
    outline: none;
    box-shadow: none;
    border: 1px solid #00000054;
}
 .card-body form select{
    
    background: transparent;
    
    color: #000;
    
    border-radius: 0;
    }
.card-body select option{background-color: #1f263042;border-radius: 0;}
.card-body form select::placeholder{
    background-color: transparent;
    color: #fff;
    }
.card-body form select:focus{box-shadow: none;border: 1px solid #fff;color: #000;background-color: transparent;}
    /* form part end here  */
    

    /* responsive buttons  */
    
.responsive_btns{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #15151530;
    padding-bottom: 10px;
  }
  .responsive_btns button{
    border: 1px solid #000;
    margin: 0px 5px;
    background: #6c757d;
    border-radius: 15px;
    padding: 0px 5px;
    color: #fff;
    border: none;
    box-shadow: 2px 3px 8px 3px #54505066;
    transition: .4s all ease-in-out;
  }
  .responsive_btns button:hover{
    background: #4e5458;
  }
  .btn_screenshort{
    box-shadow: 2px 3px 8px 3px #54505066;
    margin: 0px 5px;
  }


    /* switch button here  */
    
    .mode_switcher{
    
    position: fixed;
    
    top: 5px;
    
    right: 20px;
    }
    .mode_switcher .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    }
    
    .mode_switcher  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .mode_switcher .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
    margin: 0px;
    }
    
    .mode_switcher .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
    }
    
    .mode_switcher .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
    }
    
    .mode_switcher .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
    }
    
    /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
    }
    
    @keyframes rotate {
    
    0% {
      transform: rotate(0);
    }
    
    100% {
      transform: rotate(360deg);
    }
    }
    
    /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
    }
    
    @keyframes tilt {
    
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(-10deg);
    }
    
    75% {
      transform: rotate(10deg);
    }
    
    100% {
      transform: rotate(0deg);
    }
    }
    
    .mode_switcher  .input:checked + .slider {
    background-color: #183153;
    }
    
    .mode_switcher .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
    }
    
    .mode_switcher .input:checked + .slider:before {
    transform: translateX(30px);
    }
    
    
    .mobile_input{
        border-bottom: 1px solid #cbc2c2b0;
        padding-bottom: 10px;
    }


    .battery_main{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        height: 12px;
        width: 8px;
        margin: 0px 2px;
      }
      .battery_level{
        position: absolute;
        background: #fff;
        /* height: 70%; */
        width: 100%;
        bottom: 0px;
      }
      .white_preview .battery_main{
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border: 1px solid #000;
        height: 12px;
        width: 8px;
        margin: 0px 2px;
      }
      .battery_main::after{
        content: "";
        position: absolute;
        width: 60%;
        height: 2px;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;

      }
      .white_preview .battery_main::after{
        content: "";
        position: absolute;
        width: 60%;
        height: 2px;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #000;

      }
      .white_preview .battery_level{
        position: absolute;
        background: #000;
        /* height: 70%; */
        width: 100%;
        bottom: 0px;
      }
      .border{
        border: none !important;
        border-bottom: 1px solid #dee2e6 !important;
        color: #fff;
        margin-bottom: 5px;
        margin-top: 20px;
      }
      .white_preview .border{
        color: #000;
      }